

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <!-- <section class="top-bar-section">
      Right Nav Section
      <ul class="right">
        <li class="divider"></li> -->
        
        <!-- <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li> -->
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->
 
  <div class="row">
    <div class="large-12 columns">
 
    <!-- Content Slider -->
 
      <div class="row">
        <div class="large-12 hide-for-small">
 
          <div id="featured">
              <img src="http://placehold.it/1200x500&text=Banner">
          </div>
 
        </div>
      </div>
 
    <!-- End Content Slider -->
 
    <!-- Mobile Header -->
 
      <div class="row">
        <div class="large-12 columns show-for-small">
 
          <img src="http://placehold.it/1200x700&text=Mobile Header">
 
        </div>
      </div><br>
 
    <!-- End Mobile Header -->
 
 
      <div class="row">
        <!-- <div class="large-12 columns"> -->
          <div class="row">
            
            <div class="large-6 small-6 columns panel">
              <h4>Paint Your Availability</h4><hr>
              <p>Use our convenient blocks to define times when you can talk. </p>
            </div>
 
            <div class="large-6 small-6 columns panel">
              <h4>Send to your friend</h4><hr>
              <p>With unique links, you can use Twitter, Facebook, Email, anything to relay a blocktalk request.</p>
            </div>
 
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="large-12 columns"> -->
          <div class="row">
            <!-- Shows -->
            <div class="large-6 small-6 columns panel">
              <h4>All times local</h4><hr>
              <p>No more confusion about when people are free, even across the world.</p>
            </div>
 
            <div class="large-6 small-6 columns panel">
              <h4>Import to your calendar</h4><hr>
              <p>Using Google Calendar, Outlook, iCal? We'll email you a calendar invite when your friend confirms.</p>
            </div>
 
          </div>
        <!-- </div> -->
      </div>
 
    <!-- End Content -->
 
 
    <!-- Footer -->
 
      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">
 
              <div class="large-6 columns">
                  <p>&copy; Copyright BlockTalk 2013</p>
              </div>
 
              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
 
  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer