<p id="feedback">
<span>You've selected:</span> <span id="select-result">none</span>.
</p>
<div class="schedule">
  <div class="selectable day">
    <div class="ui-state-default hour" data-time="00">12a</div>
    <div class="ui-state-default hour" data-time="01">1a</div>
    <div class="ui-state-default hour" data-time="02">2a</div>
    <div class="ui-state-default hour" data-time="03">3a</div>
    <div class="ui-state-default hour" data-time="04">4a</div>
    <div class="ui-state-default hour" data-time="05">5a</div>
    <div class="ui-state-default hour" data-time="06">6a</div>
    <div class="ui-state-default hour" data-time="07">7a</div>
    <div class="ui-state-default hour" data-time="08">8a</div>
    <div class="ui-state-default hour" data-time="09">9a</div>
    <div class="ui-state-default hour" data-time="10">10a</div>
    <div class="ui-state-default hour" data-time="11">11a</div>
  </div>
</div>