- stylesheet 'index.css.scss'

= content_for :head do
  = javascript_include_tag "index"

/ %p#feedback
/   %span You've selected
/   %span#select-result
/     none

.row
  .schedule.large-6.columns
    .outer-wrapper
      %i.icon-chevron-sign-left.icon-4x
      .inner-wrapper
        .selectable.day
          %h3.day_header
          .ui-state-default.hour(data-time="00") 12m
          .ui-state-default.hour(data-time="01") 1a
          .ui-state-default.hour(data-time="02") 2a
          .ui-state-default.hour(data-time="03") 3a
          .ui-state-default.hour(data-time="04") 4a
          .ui-state-default.hour(data-time="05") 5a
          .ui-state-default.hour(data-time="06") 6a
          .ui-state-default.hour(data-time="07") 7a
          .ui-state-default.hour(data-time="08") 8a
          .ui-state-default.hour(data-time="09") 9a
          .ui-state-default.hour(data-time="10") 10a
          .ui-state-default.hour(data-time="11") 11a
          .ui-state-default.hour(data-time="12") 12n
          .ui-state-default.hour(data-time="13") 1p
          .ui-state-default.hour(data-time="14") 2p
          .ui-state-default.hour(data-time="15") 3p
          .ui-state-default.hour(data-time="16") 4p
          .ui-state-default.hour(data-time="17") 5p
          .ui-state-default.hour(data-time="18") 6p
          .ui-state-default.hour(data-time="19") 7p
          .ui-state-default.hour(data-time="20") 8p
          .ui-state-default.hour(data-time="21") 9p
          .ui-state-default.hour(data-time="22") 10p
          .ui-state-default.hour(data-time="23") 11p
    %i.icon-chevron-sign-right.icon-4x
    

    %a.fancybox{:href => "#test"} Open
    #test{:style => "display:none;width:300px;"}
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit, mi sed sollicitudin hendrerit, elit elit tristique velit, ut sagittis urna dolor non metus. Fusce viverra lacus sit amet urna porttitor eu mollis massa hendrerit.
      
  .large-4.columns.inputs
    %div#datepicker
    %form
      %input(type="text" class="hostEmail" id="right-label" placeholder="Your Email")
      .rightcontent
    .submit
      %a(href="#" class="large button") get link



