<p id="feedback">
  <span>You've selected:</span> <span id="select-result">none</span>.
</p>

<div class="schedule">
  <div class="outer-wrapper">
    <i class="icon-chevron-sign-left icon-4x"></i>
      <div class="inner-wrapper">
        <div class="selectable day">
          <h3 class="day_header"></h3>
          <div class="ui-state-default hour" data-time="00">12m</div>
          <div class="ui-state-default hour" data-time="01">1a</div>
          <div class="ui-state-default hour" data-time="02">2a</div>
          <div class="ui-state-default hour" data-time="03">3a</div>
          <div class="ui-state-default hour" data-time="04">4a</div>
          <div class="ui-state-default hour" data-time="05">5a</div>
          <div class="ui-state-default hour" data-time="06">6a</div>
          <div class="ui-state-default hour" data-time="07">7a</div>
          <div class="ui-state-default hour" data-time="08">8a</div>
          <div class="ui-state-default hour" data-time="09">9a</div>
          <div class="ui-state-default hour" data-time="10">10a</div>
          <div class="ui-state-default hour" data-time="11">11a</div>
          <div class="ui-state-default hour" data-time="12">12n</div>
          <div class="ui-state-default hour" data-time="13">1p</div>
          <div class="ui-state-default hour" data-time="14">2p</div>
          <div class="ui-state-default hour" data-time="15">3p</div>
          <div class="ui-state-default hour" data-time="16">4p</div>
          <div class="ui-state-default hour" data-time="17">5p</div>
          <div class="ui-state-default hour" data-time="18">6p</div>
          <div class="ui-state-default hour" data-time="19">7p</div>
          <div class="ui-state-default hour" data-time="20">8p</div>
          <div class="ui-state-default hour" data-time="21">9p</div>
          <div class="ui-state-default hour" data-time="22">10p</div>
          <div class="ui-state-default hour" data-time="23">11p</div>
        </div>
        <br class="clear">
        <div class="submit">
            <a href="#" class="large button">Send Times</a>
        </div>
      </div>
    <i class="icon-chevron-sign-right icon-4x"></i>
  </div>
</div>