%h1 blocktalk confirmation email

%h3 your meeting is on the books!

%h3 you can reply to this email to discuss the meeting

=link_to "click to view your meeting in your local time zone", meeting_url(@meeting.token)