%h1 blocktalk confirmation email

%h3 your meeting is on the books!

%h3 you can reply to this email to discuss the meeting

%h3 to see the meeting time in your local time zone:
=link_to "click to view your meeting", meeting_url(@meeting.token)