/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.fancybox
 *= require jquery.fancybox-buttons
 *= require jquery.fancybox-thumbs
 *= require foundation_and_overrides
 *= require static_pages
 *= require_self
 */
 
 @import "foundation";
 @import "foundation-icons";

 $primaryColor: black;

 h1 {
 	display: inline-block;
	color: $primaryColor;
 }

 h6 {
 	display: inline-block;
 	vertical-align: -5px;
 }

* {
	text-transform: lowercase;
}


@media #{$portrait} { 
  .header {
    background: #222;
    box-shadow: #111 0 0 4px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    h1 {
      color: #fff;
      padding-left: 0.5em;

      -webkit-font-smoothing: antialiased;
    }
  }

  .schedule {
    margin-top: 1.2em;

    div.icon-div {
      display: none;
    }

    .outer-wrapper {
      width: 100%;
    }

    .inner-wrapper, .selectable {
      float: none;
      width: 100%;
    }
  }

  .large-5.small-12 {
    float: none;
    margin-top: 3em;
    width: 100%;

    .ui-datepicker-title {
      border-top: solid #222 1px;
      line-height: 5em;
    }

    .ui-datepicker-calendar {
      width: 80%;
    }

    form {
      border-top: solid #222 1px;
      padding-top: 2em;
    }

    .submit {
      margin: 0;
    }
  }

  .fancybox-inner {
    .small-offset-2, .small-offset-4 {
      margin-left: 12px;
    }

    .small-4 {
      width: 80%;
    }
  }
}
