.icon-chevron-sign-left{
  float: left;
  display: inline-block;
  margin: 10px;
}

.icon-chevron-sign-right {
  float: left;
  display: inline-block;
  margin: 10px;
}

.day_header {
  margin: 5px auto;
  text-align: center;
}

.hour {
  width: 90%;
  height: 25px;
  border: 1px solid black;
  border-bottom: none;
  margin: 0 auto;
  text-align: right;
}

.hour:last-child{
  border-bottom: 1px solid black;
}

.day {
  border: 1px solid red;
  width: 250px;
  padding: 10px 0;
  margin: 0 auto;
  display: inline-block;
  float: left;
}

.schedule {
	width: 960px;
	height: 1000px;
}

div.ui-selecting {
	background-color: gray;
}

div.ui-selected {
	background-color: blue;
}