.row {
  margin: 0 auto !important;
}

.inner-wrapper {
  margin: 0 auto;
  width: 255px;
  overflow: hidden;
  float: left;
}

.outer-wrapper {
  margin: 0 auto;
  width: 400px;
}

.clear{
  clear: both;
}

.icon-chevron-sign-left{
  display: inline-block;
  margin: 10px;
  margin-right: 15px;
  float: left;
}

.icon-chevron-sign-right {
  display: inline-block;
  margin: 10px;
  float: right;
}

.day_header {
  margin: 5px auto;
  text-align: center;
}

.hour {
  width: 90%;
  height: 25px;
  border: 1px solid black;
  border-bottom: none;
  margin: 0 auto;
  text-align: right;
}

.hour:last-child{
  border-bottom: 1px solid black;
}

.day {
  border: 1px solid red;
  width: 250px;
  padding: 10px 0;
  margin: 0 auto;
  display: inline-block;
  border-radius: 8px;
  float: left;
}

@-webkit-keyframes flyinright {
  0%{margin-left: 400px;
     margin-right: -400px;}
  100%{margin-left: auto;
       margin-right: auto;}
}

@-webkit-keyframes flyoutright {
  0%{margin-left: 0;
     margin-right: 0;}
  100%{margin-left: 400px;
       margin-right: -400px;}
}

@-webkit-keyframes flyinleft {
  0%{
    margin-left: -400px;
    margin-right: 400px;}
  100%{
    margin-left: auto;
    margin-right: auto;}
}

@-webkit-keyframes flyoutleft {
  0%{
    margin-left: auto;
    margin-right: auto;}
  100%{
    margin-left: -400px;
    margin-right: 400px;}
}



.slideToLeft{
  -webkit-animation-name: flyoutleft;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear; 
}

.slideToRight{
  -webkit-animation-name: flyoutright;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.slideFromLeft{
  -webkit-animation-name: flyinleft;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.slideFromRight{
  -webkit-animation-name: flyinright;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.schedule {
	width: 100%;
	height: 1000px;
}

div.ui-selecting {
	background-color: gray;
}

div.ui-selected {
	background-color: blue;
}

.inputs {
  margin-top: 80px;
}

div.submit {
  width: 200px;
  margin-top: 5px;
  margin: 0 auto;
}

a.button {
  text-decoration: none;
}

.rightcontent {
  float: left;
}

/*DATEPICKER*/

#datepicker {
  width: 260px;
  margin-bottom: 50px;
}

table.ui-datepicker-calendar {
  border: none;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-icon.ui-icon-circle-triangle-e,
.ui-icon.ui-icon-circle-triangle-w {
  display: none;
}

.ui-datepicker tbody td {
  text-align: center;
  width: 30px;
  height: 30px;
}

table tr {
  background: #fff !important;
}

p.ui-state-default {
  margin: 0;
}

.selectedDate p{
  font-weight: bold;
  color: blue;
  font-size: 15px;
}

.hostEmail {
  height: 30px !important;
  border-radius: 5px !important;
}