// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	
}

.marketing_speak {
	width: 33%;
	position: absolute;
	top: 115px;
	right: 5px;
	padding-right: 84px;
}

.marketing_text {
	color: white;
	padding-right: 12px;
	line-height: 1em;
}

.advance {
	margin-top: 94px;
	margin-right: 35px;
	float: right;

}

.hero {
	position: relative;
}

img.earth {
	width: 100%
}

.features {
	text-align: center;
}

.panel.send {
	padding-left: -8px;
}

i.myicon {
	font-size: 10em;
	margin: auto;
	font-color: red;
	text-align: center;
}

.contain_people {
	width: 100%;
	margin-top: 64px;
}

i.share {
	font-size: 6em;
	margin: auto;
	font-color: red;
	text-align: center;
	white-space: nowrap;
}

i.right-arrow{
	font-size: 3em;
}

i.host{

}

i.guest{

}